<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"></body>
<div style="width: 90%; background: #efefef; border-radius: 10px; margin: 2rem; padding: 1rem;">
    <h1>{{app_name}}: Account Generated</h1>
    <p>Dear {{first_name}},</p>
    <p>an account for {{app_name}} has been generated. Please use your email and the following password to login <a href="{{url}}">here.</a>:</p>
    <div style="color : #0a68ad; font-size: large;text-align: center;">
        <h3>{{password}}</h3>
    </div>
    <p>Please change the password upon your first login.</p>
    
    <p>The {{app_name}} Support Team</p>
</div>
</body>
</html>