<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"></body>
<div style="width: 90%; background: #efefef; border-radius: 10px; margin: 2rem; padding: 1rem;">
    <h1>Proteome {{proteome_tag}} added to {{app_name}}</h1>
    <p>Dear {{first_name}},</p>
    <p>the following number of proteins has been added to the database.</p>
    <div style="color : #0a68ad; font-size: large;">
        <p>{{n_proteins}}</p>
    </div>
    <p>Once you confirmed your email, you are ready to use {{app_name}}.</p>
    
    <p>The {{app_name}} Support Team</p>
</div>
</body>
</html>