<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"></body>
<div style="width: 90%; background: #efefef; border-radius: 10px; margin: 2rem; padding: 1rem;">
    <h1>{{app_name}} : Project State Change {{submission_label}}</h1>
    <p>Dear {{first_name}},</p>
    <p>the state of your project ({{title}}) has changed to:</p>
    <div style="color : #0a68ad; font-size: large;text-align: center;">
        <h3>{{state}}</h3>
    </div>
    <p>Please follow this <a href={{submission_url}}>this link</a> to view your submission.</p>
    <p>The {{app_name}} Support Team</p>
</div>
</body>
</html>