<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"></body>
<div style="width: 90%; background: #efefef; border-radius: 10px; margin: 2rem; padding: 1rem;">
    <h1>Submission Complete: {{title}} {{tag}}</h1>
    <p>Dear {{first_name}} and collaborators,</p>
    <p>we are happy to inform you that your project submission was successful.</p>
    <p>Please store the samples in the -80°C freezer labeled as Proteomics Samples. Once the samples have been processed, you will be informed via email. You can also check the state in the web application.</p>

    <p>Please follow <a href="{{submission_url}}">this link</a> to check on the status of your submission. You can also edit the submission. Upon state changes of the project (for example when the samples were processed) more meta data are added to the submission.</p>

    <p>The {{app_name}} Support Team</p>
</div>
</body>
</html>