<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"></body>
<div style="width: 90%; background: #efefef; border-radius: 10px; margin: 2rem; padding: 1rem;">
    <h1>{{app_name}} Login Validation</h1>
    <p>Dear {{first_name}},</p>
    <p>the validation code (one time password) is:</p>
    <div style="color : #0a68ad; font-size: large;text-align: center;">
    <h3>{{verification_code}}</h3>
    </div>
    <p>Please enter the code in the verification field.</p>
    <p>{{app_name}} Support </p>
</div>
</body>
</html>